* {
  all: unset; // Unsets everything so you can style everything from scratch
}

// Global Styles
.bar {
  background-color: #3a3a3a;
  color: #b0b4bc;
  padding: 10px;
}

window {
  font-size: 18px;

  & > * {
    margin: 3px;
  }
  font-family: "Ubuntu Nerd Font";
}

.sidestuff slider {
  all: unset;
  color: #ff0000;
}

.metric scale trough highlight {
  all: unset;
  background-color: #cc9393;
  color: #000000;
  border-radius: 10px;
}

.metric scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 8px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}

.workspaces-widget {
  /*border: solid blue 2px;*/
}

.workspaces-widget > box {
  /*border: solid yellow 1px;*/
}

.workspace-entry {
  color: #FFFFFF;
  padding: 0 5px;
  /*border: solid red 1px;*/
}

.current {
  color: #000000;
}
